SITE_HOST=coreable-saf.com
WWW_SITE_HOST=www.coreable-saf.com

API_IMAGE=ghcr.io/jaekwang97/dropship-shop-api:latest
WEB_IMAGE=ghcr.io/jaekwang97/dropship-shop-web:latest

POSTGRES_DB=dropship_shop
POSTGRES_USER=dropship_shop
POSTGRES_PASSWORD=change-me

PAYMENTS_TOSS_SECRET_KEY=test_sk_change_me
PAYMENTS_TOSS_BASE_URL=https://api.tosspayments.com
NEXT_PUBLIC_TOSS_CLIENT_KEY=test_ck_change_me

SMS_SENS_ENABLED=false
SMS_SENS_ACCESS_KEY=disabled
SMS_SENS_SECRET_KEY=disabled
SMS_SENS_SERVICE_ID=disabled
SMS_SENS_FROM_NUMBER=disabled

EMAIL_SES_ENABLED=false
EMAIL_SES_REGION=ap-northeast-2
EMAIL_FROM_ADDRESS=contact@coreable-saf.com
APP_PUBLIC_BASE_URL=https://coreable-saf.com
APP_INQUIRY_LOOKUP_SECRET=change-me-at-least-32-bytes-random

APP_CORS_ALLOWED_ORIGINS=https://coreable-saf.com,https://www.coreable-saf.com
APP_INTERNAL_SYNC_TOKEN=change-me-long-random-token
APP_AUTH_JWT_SECRET=change-me-at-least-32-bytes-random
APP_AUTH_SUCCESS_REDIRECT_URI=https://coreable-saf.com/auth/callback/success

OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=
OAUTH_GOOGLE_REDIRECT_URI=https://coreable-saf.com/api/auth/oauth2/google/callback
OAUTH_KAKAO_CLIENT_ID=
OAUTH_KAKAO_CLIENT_SECRET=
OAUTH_KAKAO_REDIRECT_URI=https://coreable-saf.com/api/auth/oauth2/kakao/callback
OAUTH_NAVER_CLIENT_ID=
OAUTH_NAVER_CLIENT_SECRET=
OAUTH_NAVER_REDIRECT_URI=https://coreable-saf.com/api/auth/oauth2/naver/callback
